* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@media (max-width: 767px) {
	html {
		font-size: 100%;
	}

	body {
		background-color: #1b1b1b;
		font-size: 100%;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 140%;
	}

	body {
		font-size: 100%;
	}
}

@media (max-height: 1000px) {
	html {
		font-size: 102%;
	}
}

@media (max-height: 844px) {
	html {
		font-size: 90%;
	}
}

@media (max-height: 800px) {
	html {
		font-size: 80%;
	}
}

@media (min-height: 1200px) {
	html {
		font-size: 170%;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 140%;
	}

	body {
		font-size: 100%;
	}
}

h1,
h2,
h3 {
	font-family: var(--principale-font);
	font-weight: 500;
	color: #d4d4d4;
}

p,
a {
	font-family: var(--secundary-font);
	font-weight: 300;
	color: #d4d4d4;
}
