@use "../abstracts" as *;

@include media-up(phone) {
	.frontPage {
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100svh;
		background-color: $backgroundColor;
		z-index: 6;
	}

	.photoTitle {
		font-size: 2.75em;
		color: $goldenColor;
		margin-top: 6rem;
		
		text-align: center;
	}

	.photoContainer {
		width: 100vw;
		/* height: 100vh; */
		overflow: scroll;
		display: flex;
		flex-direction: column;
		background-color: $backgroundColor;
		gap: 5px;
		padding: 0 .375rem .375rem .375rem;

		&__section {
			margin-top: 30px;
			display: grid;
			width: 100%;
			gap: 6px;
			grid-auto-flow: row dense;

			&1 {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(15, 9.25rem);
			}

			&2 {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(13, 9.25rem);
			}

			&3 {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(12, 9.25rem);
			}

			:nth-child(1) {
				grid-row: span 2;
			}

			&_figure {
				/* overflow-y: hidden; */
				flex-shrink: 0;
				border-radius: 15px;
				overflow: hidden;
				position: relative;

				&images {
					transition: all 0.5s ease;

					&:hover {
						object-fit: contain;
					}
				}
			}

			/* .bottom {
				height: 50px;
				width: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
				background-color: gray;
			} */
		}
	}
}

@include media-up(tablet) {
	.photoContainer {
		padding: 0 .475rem .375rem .475rem;

		&__section {
			&1 {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(10, 9.25rem);
			}
			&2 {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(9, 9.25rem);
			}

			&3 {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(8, 9.25rem);
			}
		}
	}
}

@include media-up(desktop) {
	.photoTitle {
		font-size: 4.75em;
		margin-top: 10rem;
	}

	.photoContainer {
		align-items: center;
		&__section {
			width: calc(100% - 20px);
			margin-top: 4.875rem;

			&1 {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(7, 9.25*1.4rem);
			}
			&2 {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(7, 9.25*1.4rem);
			}
			&3 {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(6, 9.25*1.4rem);
			}
		}
	}
}
